In [1]:
import pandas as pd
import numpy as np
import ast
import warnings
warnings.filterwarnings('ignore')

In [2]:
movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [3]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [4]:
# Merging both the datasets together
movies = movies.merge(credits,on='title')

In [5]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

## Data Pre-processing

In [6]:
## Taking only columns which are most useful for the model buliding

In [7]:
movies = movies[['movie_id','title','overview','genres','keywords','cast','crew']]

In [8]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [9]:
#Checking the null values, dropping if any found
movies.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [10]:
movies.dropna(inplace=True)

In [11]:
movies.isnull().sum()

movie_id    0
title       0
overview    0
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [12]:
#Check if there are any duplicate row values.
movies.duplicated().sum()

np.int64(0)

In [13]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [14]:
def convert(obj):
    L = []
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [16]:
movies['genres'] = movies['genres'].apply(convert)

In [17]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bondâ€™s past sends him o...,"[Action, Adventure, Crime]","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [18]:
movies['keywords'] = movies['keywords'].apply(convert)

In [19]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [29]:
def convert2(obj):
    L = []
    counter = 0
    for i in ast.literal_eval(obj):
        if counter != 3:
            L.append(i['name'])
        else:
            break
    return L

In [41]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [42]:
def fetch_director(obj):
    L = []
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            L.append(i['name'])
            break
    return L

In [44]:
movies['crew'] = movies['crew'].apply(fetch_director)

In [45]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron]

In [47]:
movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [48]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron]

In [49]:
movies['genres'] = movies['genres'].apply(lambda x:[i.replace(" ","")for i in x])

In [50]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron]

In [51]:
movies['keywords'] = movies['keywords'].apply(lambda x:[i.replace(" ","")for i in x])

In [53]:
movies['cast'] = movies['cast'].apply(lambda x:[i.replace(" ","")for i in x])
movies['crew'] = movies['crew'].apply(lambda x:[i.replace(" ","")for i in x])

In [54]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver, ...",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley, Ste...",[GoreVerbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bondâ€™s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LÃ©aSeydoux, Ralp...",[SamMendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman, Anne...",[ChristopherNolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton, Wi...",[AndrewStanton]

In [55]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [56]:
new_df = movies[['movie_id','title','tags']]

In [57]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bondâ€™s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."

In [58]:
new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))

In [59]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bondâ€™s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [67]:
new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

In [68]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."
2,206647,Spectre,a cryptic message from bondâ€™s past sends him o...
3,49026,The Dark Knight Rises,following the death of district attorney harve...
4,49529,John Carter,"john carter is a war-weary, former military ca..."

In [70]:
!pip install nltk

Collecting nltk
  Downloading nltk-3.8.1-py3-none-any.whl.metadata (2.8 kB)
Collecting click (from nltk)
  Using cached click-8.1.7-py3-none-any.whl.metadata (3.0 kB)
Requirement already satisfied: joblib in c:\users\mak65\appdata\local\programs\python\python312\lib\site-packages (from nltk) (1.4.2)
Collecting regex>=2021.8.3 (from nltk)
  Downloading regex-2024.5.15-cp312-cp312-win_amd64.whl.metadata (41 kB)
     ---------------------------------------- 0.0/42.0 kB ? eta -:--:--
     --------- ------------------------------ 10.2/42.0 kB ? eta -:--:--
     -------------------------------------- 42.0/42.0 kB 511.8 kB/s eta 0:00:00
Collecting tqdm (from nltk)
  Using cached tqdm-4.66.4-py3-none-any.whl.metadata (57 kB)
Requirement already satisfied: colorama in c:\users\mak65\appdata\local\programs\python\python312\lib\site-packages (from click->nltk) (0.4.6)
Downloading nltk-3.8.1-py3-none-any.whl (1.5 MB)
   ---------------------------------------- 0.0/1.5 MB ? eta -:--:--
    --------------------------------------- 0.0/1.5 MB 1.3 MB/s eta 0:00:02
   - -------------------------------------- 0.1/1.5 MB 812.7 kB/s eta 0:00:02
   -- ------------------------------------- 0.1/1.5 MB 762.6 kB/s eta 0:00:02
   --- ------------------------------------ 0.1/1.5 MB 654.9 kB/s eta 0:00:03
   --- ------------------------------------ 0.1/1.5 MB 652.5 kB/s eta 0:00:03
   ---- ----------------------------------- 0.2/1.5 MB 653.6 kB/s eta 0:00:03
   ---- ----------------------------------- 0.2/1.5 MB 551.6 kB/s eta 0:00:03
   ---- ----------------------------------- 0.2/1.5 MB 551.6 kB/s eta 0:00:03
   ----- ---------------------------------- 0.2/1.5 MB 491.5 kB/s eta 0:00:03
   ----- ---------------------------------- 0.2/1.5 MB 491.5 kB/s eta 0:00:03
   ----- ---------------------------------- 0.2/1.5 MB 491.5 kB/s eta 0:00:03
   ----- ---------------------------------- 0.2/1.5 MB 491.5 kB/s eta 0:00:03
   ----- ---------------------------------- 0.2/1.5 MB 491.5 kB/s eta 0:00:03
   ----- ---------------------------------- 0.2/1.5 MB 491.5 kB/s eta 0:00:03
   ----- ---------------------------------- 0.2/1.5 MB 296.1 kB/s eta 0:00:05
   ----- ---------------------------------- 0.2/1.5 MB 296.1 kB/s eta 0:00:05
   ----- ---------------------------------- 0.2/1.5 MB 296.1 kB/s eta 0:00:05
   ----- ---------------------------------- 0.2/1.5 MB 296.1 kB/s eta 0:00:05
   ----- ---------------------------------- 0.2/1.5 MB 259.4 kB/s eta 0:00:05
   ----- ---------------------------------- 0.2/1.5 MB 259.4 kB/s eta 0:00:05
   ----- ---------------------------------- 0.2/1.5 MB 259.4 kB/s eta 0:00:05
   ----- ---------------------------------- 0.2/1.5 MB 259.4 kB/s eta 0:00:05
   ----- ---------------------------------- 0.2/1.5 MB 259.4 kB/s eta 0:00:05
   ----- ---------------------------------- 0.2/1.5 MB 259.4 kB/s eta 0:00:05
   ----- ---------------------------------- 0.2/1.5 MB 259.4 kB/s eta 0:00:05
   ------ --------------------------------- 0.2/1.5 MB 203.6 kB/s eta 0:00:07
   ------ --------------------------------- 0.2/1.5 MB 203.6 kB/s eta 0:00:07
   ------ --------------------------------- 0.2/1.5 MB 203.6 kB/s eta 0:00:07
   ------ --------------------------------- 0.2/1.5 MB 203.6 kB/s eta 0:00:07
   ------ --------------------------------- 0.2/1.5 MB 203.6 kB/s eta 0:00:07
   ------ --------------------------------- 0.3/1.5 MB 176.7 kB/s eta 0:00:08
   ------ --------------------------------- 0.3/1.5 MB 176.7 kB/s eta 0:00:08
   ------- -------------------------------- 0.3/1.5 MB 175.6 kB/s eta 0:00:08
   ------- -------------------------------- 0.3/1.5 MB 175.6 kB/s eta 0:00:08
   ------- -------------------------------- 0.3/1.5 MB 175.6 kB/s eta 0:00:08
   ------- -------------------------------- 0.3/1.5 MB 171.7 kB/s eta 0:00:08
   ------- -------------------------------- 0.3/1.5 MB 171.7 kB/s eta 0:00:08
   -------- ------------------------------- 0.3/1.5 MB 171.2 kB/s eta 0:00:08
   -------- ------------------------------- 0.3/1.5 MB 178.1 kB/s eta 0:00:07
   -------- ------------------------------- 0.3/1.5 MB 178.1 kB/s eta 0:00:07
   -------- ------------------------------- 0.3/1.5 MB 178.1 kB/s eta 0:00:07
   -------- ------------------------------- 0.3/1.5 MB 173.3 kB/s eta 0:00:07
   --------- ------------------------------ 0.4/1.5 MB 176.8 kB/s eta 0:00:07
   --------- ------------------------------ 0.4/1.5 MB 176.8 kB/s eta 0:00:07
   --------- ------------------------------ 0.4/1.5 MB 175.1 kB/s eta 0:00:07
   --------- ------------------------------ 0.4/1.5 MB 175.1 kB/s eta 0:00:07
   ---------- ----------------------------- 0.4/1.5 MB 183.9 kB/s eta 0:00:06
   ---------- ----------------------------- 0.4/1.5 MB 183.9 kB/s eta 0:00:06
   ----------- ---------------------------- 0.4/1.5 MB 182.0 kB/s eta 0:00:06
   ----------- ---------------------------- 0.4/1.5 MB 187.2 kB/s eta 0:00:06
   ----------- ---------------------------- 0.5/1.5 MB 189.1 kB/s eta 0:00:06
   ------------- -------------------------- 0.5/1.5 MB 201.3 kB/s eta 0:00:06
   ------------- -------------------------- 0.5/1.5 MB 210.0 kB/s eta 0:00:05
   --------------- ------------------------ 0.6/1.5 MB 226.6 kB/s eta 0:00:05
   --------------- ------------------------ 0.6/1.5 MB 236.1 kB/s eta 0:00:04
   ---------------- ----------------------- 0.6/1.5 MB 243.7 kB/s eta 0:00:04
   ------------------ --------------------- 0.7/1.5 MB 257.5 kB/s eta 0:00:04
   ------------------- -------------------- 0.7/1.5 MB 272.1 kB/s eta 0:00:03
   --------------------- ------------------ 0.8/1.5 MB 290.0 kB/s eta 0:00:03
   ---------------------- ----------------- 0.8/1.5 MB 303.6 kB/s eta 0:00:03
   ------------------------ --------------- 0.9/1.5 MB 320.3 kB/s eta 0:00:02
   ------------------------- -------------- 1.0/1.5 MB 333.0 kB/s eta 0:00:02
   -------------------------- ------------- 1.0/1.5 MB 347.1 kB/s eta 0:00:02
   ---------------------------- ----------- 1.1/1.5 MB 357.0 kB/s eta 0:00:02
   ---------------------------- ----------- 1.1/1.5 MB 357.0 kB/s eta 0:00:02
   ---------------------------- ----------- 1.1/1.5 MB 357.0 kB/s eta 0:00:02
   ----------------------------- ---------- 1.1/1.5 MB 352.5 kB/s eta 0:00:02
   ----------------------------- ---------- 1.1/1.5 MB 348.8 kB/s eta 0:00:02
   ------------------------------ --------- 1.1/1.5 MB 356.5 kB/s eta 0:00:02
   ------------------------------ --------- 1.2/1.5 MB 356.3 kB/s eta 0:00:01
   ------------------------------- -------- 1.2/1.5 MB 358.8 kB/s eta 0:00:01
   ------------------------------- -------- 1.2/1.5 MB 361.6 kB/s eta 0:00:01
   --------------------------------- ------ 1.3/1.5 MB 371.8 kB/s eta 0:00:01
   ---------------------------------- ----- 1.3/1.5 MB 381.7 kB/s eta 0:00:01
   ----------------------------------- ---- 1.3/1.5 MB 385.4 kB/s eta 0:00:01
   ----------------------------------- ---- 1.4/1.5 MB 384.9 kB/s eta 0:00:01
   ------------------------------------ --- 1.4/1.5 MB 385.6 kB/s eta 0:00:01
   ------------------------------------- -- 1.4/1.5 MB 385.8 kB/s eta 0:00:01
   ------------------------------------- -- 1.4/1.5 MB 386.4 kB/s eta 0:00:01
   ------------------------------------- -- 1.4/1.5 MB 386.4 kB/s eta 0:00:01
   ------------------------------------- -- 1.4/1.5 MB 382.7 kB/s eta 0:00:01
   -------------------------------------- - 1.5/1.5 MB 381.8 kB/s eta 0:00:01
   -------------------------------------- - 1.5/1.5 MB 381.8 kB/s eta 0:00:01
   -------------------------------------- - 1.5/1.5 MB 381.8 kB/s eta 0:00:01
   ---------------------------------------  1.5/1.5 MB 374.8 kB/s eta 0:00:01
   ---------------------------------------  1.5/1.5 MB 372.9 kB/s eta 0:00:01
   ---------------------------------------  1.5/1.5 MB 372.3 kB/s eta 0:00:01
   ---------------------------------------- 1.5/1.5 MB 370.7 kB/s eta 0:00:00
Downloading regex-2024.5.15-cp312-cp312-win_amd64.whl (268 kB)
   ---------------------------------------- 0.0/268.5 kB ? eta -:--:--
   - -------------------------------------- 10.2/268.5 kB ? eta -:--:--
   ---- ---------------------------------- 30.7/268.5 kB 435.7 kB/s eta 0:00:01
   -------- ------------------------------ 61.4/268.5 kB 544.7 kB/s eta 0:00:01
   ---------- ---------------------------- 71.7/268.5 kB 435.7 kB/s eta 0:00:01
   ----------------- -------------------- 122.9/268.5 kB 599.1 kB/s eta 0:00:01
   --------------------- ---------------- 153.6/268.5 kB 654.6 kB/s eta 0:00:01
   --------------------------- ---------- 194.6/268.5 kB 692.9 kB/s eta 0:00:01
   --------------------------------- ---- 235.5/268.5 kB 686.8 kB/s eta 0:00:01
   -------------------------------------- 268.5/268.5 kB 688.6 kB/s eta 0:00:00
Using cached click-8.1.7-py3-none-any.whl (97 kB)
Using cached tqdm-4.66.4-py3-none-any.whl (78 kB)
Installing collected packages: tqdm, regex, click, nltk
Successfully installed click-8.1.7 nltk-3.8.1 regex-2024.5.15 tqdm-4.66.4

In [71]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [72]:
def stem(text):
    y = []
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [74]:
new_df['tags'] = new_df['tags'].apply(stem)

## Vectorization

In [75]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [76]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [77]:
vectors[0]

array([0, 0, 0, ..., 0, 0, 0])

In [80]:
cv.get_feature_names_out()

array(['000', '007', '10', ..., 'zoo', 'zooeydeschanel', 'zoÃ«kravitz'],
      dtype=object)

In [81]:
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(vectors)

In [90]:
sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x:x[1])[1:6]

[(1214, np.float64(0.2714737592572808)),
 (582, np.float64(0.2362497692874473)),
 (2329, np.float64(0.23489478196744007)),
 (507, np.float64(0.22874785549890703)),
 (3728, np.float64(0.22758963106682426))]

## Main Function

In [96]:
def recommend(movie):
    movie_index = new_df[new_df['title'] == movie].index[0]
    distances = similarity[movie_index]
    movies_list = sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]

    for i in movies_list:
        print(new_df.iloc[i[0]].title)

In [97]:
recommend('Avatar')

Aliens vs Predator: Requiem
Battle: Los Angeles
Predator
Independence Day
Falcon Rising

In [100]:
import pickle

In [102]:
pickle.dump(new_df.to_dict(),open('movie_dict.pkl','wb'))

In [103]:
pickle.dump(similarity,open('similarity.pkl','wb'))